/* USER PERFIL ---------------------------------------- */
.linkSinEstilos {
    text-decoration: none;
    color: black;
}

/* SEARCH WORDS --------------------------------------- */
.container-form-search {
    width: 300px;
    margin-right: 40px;
}

.input-search {
    background: rgba(255, 255, 255, 0.315);
    color: #fff;
    border: none;
    border-radius: 2px 0px 0px 2px;
    width: 200px;
    height: 35px;
    padding: 0px 5px;
}

.btn-search {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 36px;
    border: none;
    border-radius: 0px 2px 2px 0px;
}

.btn-search:hover {
    cursor: pointer;
}