#formBasicName{
    width: 20vw;
}

#formBasicEmail{
    width: 20vw;
}

#formBasicPassword{
    width: 20vw;
}

#formBasicRepitPassword{
    width: 20vw;
}

Form{
   margin: auto;
}

.links{
    text-decoration: none;
    color: black;
}

